H2 { TEXT-ALIGN: CENTER; MARGIN: 0.5em,3em,0em,3em; }
H3 { TEXT-ALIGN: CENTER; MARGIN: 0.5em,3em,0em,3em; }
H4 { MARGIN: 1em,1em,0em,1em; }
P { text-align: center; MARGIN: 1em,0em,0em,0em; }
HR { color: #FF8080; width: 75%; align: center; }
P.pic { MARGIN: 0em,0em,0em,0em; }