body { background: #0000FF; color: #FFFFC3; }
hr { height: 3px; width: 80%; text-align: center; color: #FFFFC3; }
a { color: #FFFFC3; }
#topbanner { position:absolute; top: 0px; left: 0px; width: 102%; height: 150px; z-index: 0;
		background: #0000FF; background-image: url(gc_main.gif); }

#toppic { text-align: center; }

#picarea { position: relative; top: 30%; left: ; width: 80%; height: 100%; z-index: 0;
		background: #0000FF; color: #FFFFC3; text-align: center; }

#linkback {  }